.header {
    width: 100%;
    height: 105px;
    background: white;
    box-shadow: 0px -5px black;
    z-index: 1;
  }

  .head {
    width: 100%;
    height: 25px;
    background-color: rgb(255, 244, 253);
  }

  .head2 {
    width: 100%;
    height: 30px;
    background-color: rgb(255, 255, 255);
  }

  .content {
    overflow: hidden;
    padding: 0 100px;
  }

  .footer {
    width: 90%;
    height: 100px;
    background: white;
  }

  .middle {
    position: relative;
    width: 100%;
    float: left;
    height: 800px;
    background: white;
  }

  .left {
    position: relative;
    width: 100px;
    float: left;
    left: -100px;
    height: 3000px;
    margin-left: -100%;
    background: green;
  }

  .right {
    position: relative;
    width: 100px;
    float: left;
    right: -100px;
    height: 3000px;
    margin-left: -100px;
    background: black;
  }

  .navigation ul {
    margin: 0;
    padding-top: 4px;
    text-align: center;
    z-index: -1;
  }

  .navigation ul li {

    list-style-type: none;

    display: inline;

    margin: 0 5px;

    font-size: 18px;

    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }

  .navigation ul li a {

    color: #CA5D87;

    text-decoration: none;

  }

  .navigation ul li a:hover {

    color: #fabb73;

    text-decoration: underline;

  }

  .aligncenter {
    clear: both;
    display: block;
    margin: auto;
  }


  * {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .rollimg {
    width: 1000px;
    height: auto;
    margin-left: 214px;
  }

  #list {
    width: 300px;
    height: 30px;
    margin-left: 690px;
  }

  #list li {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
    background: #c0c0c0;
    float: left;

  }

  .bg {
    background: #f9f2f4 !important;
  }

  .font {
    font-family: 'Noto Serif TC', serif;

  }

  #icon1 {
    font-size: 35px;
    color: #CA5D87;
    text-align: right;
    float: right;
    padding: 2px;
  }

  #icon2 {
    font-size: 35px;
    color: #CA5D87;
    text-align: right;
    float: right;
    padding: 2px;
  }

  #icon3 {
    font-size: 35px;
    color: #CA5D87;
    text-align: right;
    float: right;
    padding: 2px;
  }

  #icon4 {
    font-size: 35px;
    color: #CA5D87;
    text-align: right;
    float: right;
    padding: 2px;
  }

  .box {
    margin-left: 1080px;
    color: #CA5D87;
  }

  .parent {
    position: relative;
  }

  .search {
    width: 300px;
    height: 40px;
    border-radius: 18px;
    outline: none;
    border: 3px solid #CA5D87;
    padding-left: 20px;
    position: absolute;
    font-family: 'Noto Serif TC', serif;
    color: #CA5D87;
  }

  .btn {
    height: 35px;
    width: 35px;
    position: absolute;
    background: url("img/logo/side4.png") no-repeat -2px -99px;
    top: 6px;
    left: 285px;
    border: none;
    outline: none;
    cursor: pointer;
  }

  ul {
    list-style-type: none;
    /*清除默认列表样式 ....*/
    margin: 0;
    padding: 0;
    /*内外编剧清除*/
  }

  .lunbo {
    width: 100%;
    height: 650px;
  }

  /*左右按钮的属性设置*/
  .lr-tab .btn {
    position: absolute;
    top: 120px;
    width: 41px;
    height: 69px;
    background: url("img/8a.png");

  }

  .lr-tab .left {
    left: 0px;
    background-position-x: -83px;

  }

  .lr-tab .right {
    right: 0px;
    background-position-x: -125px;
  }

  /*左右按钮触碰事件*/
  .lr-tab .left:hover {
    background-position-x: 0px;
  }

  .lr-tab .right:hover {
    background-position-x: -41px;
  }

  /*圆形按钮属性设定*/
  .tab-btn {
    position: absolute;
    right: 40px;
    bottom: 20px;
    width: 120px;
    height: 30px;
    top: 270px;

  }

  .tab-btn .btn {

    float: left;
    width: 6px;
    height: 6px;
    background: #868686;
    border: 2px solid #c3c3c3;
    /*边框*/
    margin-left: 10px;
    border-radius: 50%;
  }

  /*圆形按钮触碰事件*/
  .tab-btn .btn:hover {
    background: #e4e4e4;
    border-color: #7f7f7f;
  }

  .tab-btn .active {
    background: #e4e4e4;
    border-color: #7f7f7f;
  }

  #tds table,
  #tds tr,
  #tds td {
    border: 1px solid #000;
  }

  table {
    border: 3px #CA5D87 dashed;
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
  }

  h1 {
    text-align: center;
    color: #CA5D87;
  }

  thead {
    text-align: center;
    font-weight: bold;
  }